
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: bold;
}

p {
    font-family: 'Ubuntu', sans-serif;
    color: #8f8f8f;
}

/* Headings */
.big-heading {
    font-size: 3.5rem;
}

.section-heading {
    font-size: 3rem;
}

/* Sections */
.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* navbar */

.container-fluid {
    padding: 7% 15%;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat-light', sans-serif;
    font-size: 1.2rem;
}

/* Download Buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

/* Title */
#title .container-fluid {
    padding: 2% 15% 7%;
    text-align: left;
}

.title-img {
    max-width: 300px;
    width: 60%;
    position: absolute;
    transform: rotate(25deg);
}

/* Features */
#features {
    position: relative;
}

.icon-features {
    color: #ef8172;
    margin-bottom: 1rem;
    
}

.icon-features:hover {
    color: #ff4c68;
}

.features-title {
    font-size: 1.5rem;
}


/* Testimonials */
#testimonials {
    background-color: #FF7777;
}

.testimonial-img {
    margin-top: 10px;
    width: 10%;
    border-radius: 100%;
}

.testimonial-text {
    font-size: 2.5rem;
}

/* Press */
#press {
    background: #FF7777;
    padding-bottom: 3%;
}

.press-img {
    margin: 20px 20px 50px;
    width: 15%;
}

/* Pricing */
#pricing {
    padding: 100px;
}

.pricing-col {
    padding: 3% 2%;
}

.card {
    height: 100%;
    display: flex;
}

.pricing-text {
    font-size: 2.5rem;
}

/* Call to Action */

/* Footer */
#footer {
    font-weight: 400;
}

.footer-icon {
    color: black;
    margin: 0 10px 0;
}
@media (max-width: 1028px){
    
    #title .container-fluid{
        text-align: center;
    }

    .title-img {
        position: static;
        transform: rotate(0);
    }
}